parameters:
    level: max
    paths:
        - src
        - test
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Missing parameter \$handler \(Closure\) in call to Colossal\\Routing\\Route constructor\.#'